html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #00008B, #4B0082);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.container1 {
    width: 29%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
}

.form-list-area {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 35px;
    border: 3px solid #000000;
}

form {
    text-align: center;
}

input[type="text"], input[type="search"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.priorityDropdown {
    width: 160px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}


#priority-filter, #sort-filter {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

#clearSearch {
    margin-left: 10px;
    border-radius: 20px;
}

#searchBtn {
    border-radius: 50%;
}

#editTaskDescription {
    width: 100px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid white;
    margin-top: 10px;
}

.list-group-item .description {
    overflow-wrap: break-word; 
    word-break: break-all;
    margin-right: 10px;
}


.list-group-item {
    display: flex;
    align-items: center; 
}

.list-group-item .btn-group {
    margin-left: auto; 
}

.completed {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.btn-group {
    margin-left: 5px;
}

.btn-group form {
    margin: 0;
}


.task-btn-group .btn {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.2rem;
}

.all-tasks-btn-group .btn {
    border-radius: 20px;
    margin-right: 10px;
}

.btn-primary {
    border-radius: 20px;
    font-size: 18px;
}

.alert {
    border-radius: 20px;
}

.statistics  {
    color:#ffffff;
    text-align: center;
    width: 81%;
}

.statistics ul li {
    background-color: transparent; 
}

.modal-dialog {
    width: 750px;
}

.editPriority {
    width: 160px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.cardForm {
    width: 400px;
    border-radius: 25px;
	box-shadow: 5px 20px 50px #000;
    margin-top: 35px;
    margin-bottom: 100px;
}

.linkSignUp {
    width: 60px;
}

.linkSignIn {
    width: 43px;
}

.dashboard .rowTop {
    height: 175px;
}

.card-top {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 20px;
}

.card-bot {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 20px; 
}

.card-top .card-body {
    color: white;
}

.card-bot .card-body {
    color: white;
}

.liDashboard {
    color:#000;
}

.custom-alert {
    width: 400px;
    margin: 0 auto;
}

.custom-modal-size {
    max-width: 32%;
}

